body{ background-color: #F0EC78;}

#nav-table {width 800px;}
              
#nav-td {width  200px; 
  height 50%;  
  text align: center:}

#java-heading {text align: center;
}

#about-me-body {background-color:#F0F8FF;}

# lilly_and_chloe 
          {width: 100px;
              float: right;
              margin: right: 50px;
              margin : bottom 1px;
          }
#java-heading {text-color: rgb; 244,0,0; }
