body{ background-color: #1ac6ff;{

#my_pic{alt="rioux_my_pic" class="center;
  }
              
#nav-table{ width 800px;
  height 20%;  
  }
#p1 {font-size: 40px;
}
#java-heading {text-align: center;
}

#about-me-body {background-color:#1ac6ff;}

#lilly_and_chloe{ 
          
              float: right;
              margin: right: 70px;
             
          }
#java-heading {text-color: rgb; 244,0,0; }
