body{ background-color: #1ac6ff;{

#rioux_my_pic{float: right;
  margin: 50px;
  }
              
#nav-table{ width: 800px;
  height: 100px;  
  }
#p {font-size: 40px;
}
#java-heading {text-align: center;
}

#about-me-body {background-color:#1ac6ff;}

#lilly_and_chloe{ 
          
              float: right;
  margin: 80px;
             
          }
#java-heading {text-color: rgb; 244,0,0; }
